<div class="subscribe{{#if is_popup}} popup{{/if}}">
    <a href="{{@site.url}}/rss" class="subscribe-link" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-rss"></i>
        <span class="subscribe-text">RSS</span>
    </a>
</div>